<%= form_with url: { action: 'batch_receive' }, class: 'button_to' do %>
  <%= button_tag disabled: true, class: 'button is-success is-rounded' do %>
    <%= svg_tag 'cash-register' %>
    <span><%= t('.batch_receive.title') %></span>
  <% end %>
<% end %>
