<div>
  <dt><%= Org::Organ.human_attribute_name(:name) %></dt>
  <dd><%= @organ.name %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:production_enabled) %></dt>
  <dd><%= @organ.production_enabled %></dd>
</div>
