<div class="box as-bar">
  <%= link_to({ controller: 'taxons' }, class: 'px-4') do %>
    <%= svg_tag 'angle-left' %>
  <% end %>
  <div class="weui-title">
    <span><%= @taxon.name %></span>
    <span class="tag ml-1"><%= @taxon.scene.title %></span>
  </div>
  <i class="px-5"></i>
</div>
