<div class="menu as-side" style="margin-left: -0.75rem">
  <div class="menu-list flex flex-direction-column">
    <% @taxons.each do |taxon| %>
      <%= link_to taxon.name, { controller: 'taxon/products', taxon_id: taxon.id }, class: active_helper(taxon_id: taxon.id, item: 'menu-item', active: 'menu-item is-active') %>
    <% end %>
    <%= button_to({ controller: 'taxons', action: 'new' }, class: 'button is-borderless', form: { class: 'menu-item' }) do %>
      <%= svg_tag 'plus' %>
      <span><%= t('.taxons.new.title') %></span>
    <% end %>
    <div class="background-white flex-grow-1"></div>
  </div>
</div>
