<%= render 'top_bar_left' do %>
  <div class="weui-title"><%= t('.title') %></div>
  <div style="min-width: 45px">
    <%= button_to({ controller: 'taxons', action: 'preview' }, class: '') do %>
      <%= svg_tag 'ellipsis-vertical' %>
    <% end %>
  </div>
<% end %>