<%= form_with theme: 'default_phone', model: model, scope: model_name, url: { action: 'update' }, state: 'redirect' do |f| %>
  <div class="form-fields">
    <%= f.collection_select :taxon_id, @taxons, :id, :name %>
    <%= render partial: 'form', locals: { f: f } %>
  </div>
  <%= f.submit %>
<% end %>
