<p class="text-grey"><%= model.name %></p>
<div class="tags has-addons">
  <span class="tag is-primary is-light"><%= model.productions_count %></span>
  <span class="tag is-light text-grey">型号</span>
</div>
