<%= button_to({ controller: '/space/desks', action: 'change', con: 'factory/agent/productions' }, class: 'media is-fullwidth', form: { class: 'is-fullwidth' }) do %>
  <div class="media-content">
    <%= svg_tag 'qrcode' %>
    <span><%= t('space.desks.change.title') %></span>
  </div>
  <div class="media-right">
    <%= svg_tag 'chevron-right' %>
  </div>
<% end %>
