<%= render layout: 'top_bar_left' do %>
  <div class="bar-title"><%= t('.title') %></div>
  <%= button_to({ action: 'preview' }, form: { class: 'px-4' }) do %>
    <%= svg_tag 'ellipsis-vertical' %>
  <% end %>
<% end %>
