<div id="station_id" class="field is-horizontal">
<%=
  f.collection_select(
    :station_id,
    @stations,
    :id,
    :name,
    {
      include_blank: true,
      all: { select: nil }
    },
    {
      data: {
        controller: 'common',
        common_url_value: url_for(action: 'rooms'),
        action: 'common#postInput'
      }
    }
  )
%>
</div>
<div id="room_id"></div>
<div id="desk_id"></div>
