<div
  class="cell has-column-centered"
  data-controller="mask"
  data-action="click->mask#show"
>
  <%= image_tag 'wx_moment.svg', class: 'image is-16x16 display-inline' %>
  <span>分享</span>
</div>
