<%= form_with model: @production, url: { action: 'dialog' }, id: 'edit_custom' do %>
<% end %>

<%= render partial: 'dispatch_modal', locals: { production: @production } %>

<div class="box is-padding-less">
  <div class="box-header">规格</div>
  <div id="card_brothers" data-controller="custom" class="grid gap-2 p-3">
    <%= render partial: 'card_brother', collection: @production.brothers.enabled, as: :brother %>
  </div>
</div>
