<div class="grid gap-2 as-actions">
<% current_organ.dispatches.each do |value| %>
  <%= button_to({ action: 'show', id: @production.id }, params: { dispatch: value }, form: { class: 'cell is-fullwidth' }, class: "is-fullwidth #{value.to_s == params[:dispatch] ? 'button is-light' : 'button'}") do %>
    <%= svg_tag 'check', class: 'icon is-small' %>
    <p class="text-black"><%= Trade::Item.enum_i18n(:dispatch, value) %></p>
  <% end %>
<% end %>
</div>
