<div class="fixed-grid has-3-cols">
  <div data-controller="custom" class="grid gap-2 as-actions">
  <% Trade::Item.options_i18n(:dispatch).each do |text, value| %>
    <div class="cell is-fullwidth is-checked">
      <%= radio_button_tag 'dispatch', value, value.to_s == params[:dispatch], data: { action: 'custom#submit' }, class: 'display-none', form: 'edit_custom' %>
      <label for="dispatch_<%= value %>" class="button is-fullwidth">
        <%= svg_tag 'check', class: 'icon is-small' %>
        <p class="text-black"><%= text %></p>
      </label>
    </div>
  <% end %>
  </div>
</div>
