<div class="box radiusless flex justify-content-space-between mb-0">
  <div>
    <%= svg_tag 'chair' %>
    <span class="ml-1"><%= @desk.content %></span>
  </div>
  <div>
    <%= button_to({ controller: '/space/desks', action: 'change', station_id: @desk.room.station_id }) do %>
      <%= svg_tag 'chevron-right' %>
    <% end %>
  </div>
</div>
