<div class="as-bar">
  <i class="px-5"></i>
  <div class="bar-title">
    <%= svg_tag 'location-dot' %>
  </div>
  <div class="px-4">
    <%= button_to({ controller: '/space/stations' }) do %>
      <%= svg_tag 'chevron-right' %>
    <% end %>
  </div>
</div>
