<% if params[:produce_on].present? %>
<div class="box as-bar">
  <div class="weui-title flex-direction-column">
    <div>
      <span class="text-weight-semibold"><%= params[:produce_on] %></span>
      <span><%= params[:produce_on].to_date.to_fs(:week) %></span>
    </div>
    <div>
      <span class="text-weight-semibold"><%= @scene&.title %></span>
    </div>
  </div>
</div>
<% end %>