<%= link_to({ controller: 'factory/admin/products' }, class: 'cell has-column-centered') do %>
  <div class="text-primary">
    <%= svg_tag 'list-tree', class: 'icon is-medium' %>
  </div>
  <div class="size-7 text-grey mt-1"><%= t('factory.admin.products.index.title') %></div>
<% end %>
